
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "cars/img/car.ico" %}" />
    <title>Car Maze</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static "cars/css/bootstrap.min.css" %}" type="text/css">
   
    <link rel="stylesheet" href="{% static "cars/font-awesome/css/font-awesome.min.css" %}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static "cars/css/animate.min.css" %}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "cars/css/creative.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "cars/css/styles.css" %}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8ad support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
    
    {% include "navbar.html" %}
    <header style="background-image:url('{% static "cars/img/header.jpg" %}')">
    <br><br><br><br><br>
    <div class="col-md-4"></div>
    <div class="col-md-4 header-content">
    <img src="{% static "cars/img/404.png" %}">
     <h1 style="color:white">Error. Page Not Found !</h1>
    <a href="/"><button class="btn btn-info">&lt;&nbsp;Back Home</button></a>
    </div>
    <div class="col-md-4"></div>
    </header>
  
</body>

</html> 